IndentWidth: 4
ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false

# Don't align arguments:
BinPackArguments: false
BinPackParameters: false
IndentCaseBlocks: true
IndentCaseLabels: true
